In [99]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [137]:
order=pd.read_excel('Company X - Order Report.xlsx')
sku=pd.read_excel('Company X - SKU Master.xlsx')
invoice=pd.read_excel('Courier CompanyInvoice.xlsx')
rates=pd.read_excel('Courier Company - Rates.xlsx')

In [138]:
invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

We will rename the 'ExternOrderNo' column to 'Order ID' before merging them

In [139]:
order.rename(columns={'ExternOrderNo':'Order ID'},inplace=True)

In [140]:
order

       Order ID            SKU  Order Qty
0    2001827036  8904223818706        1.0
1    2001827036  8904223819093        1.0
2    2001827036  8904223819109        1.0
3    2001827036  8904223818430        1.0
4    2001827036  8904223819277        1.0
..          ...            ...        ...
395  2001806229  8904223818942        1.0
396  2001806229  8904223818850        1.0
397  2001806226  8904223818850        2.0
398  2001806210  8904223816214        1.0
399  2001806210  8904223818874        1.0

[400 rows x 3 columns]

We will merge the order and invoice data

In [141]:
order_in=pd.merge(order,invoice)

In [142]:
df=pd.merge(order_in,sku)

In [143]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g)
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,127
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,127
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,127
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,127
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,127
...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,250
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,160
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,150
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,552
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,137

Changing the weight from 'g' into 'kg'

In [144]:
df['Weight_kg']=df['Weight (g)']/1000

In [145]:
df.drop('Weight (g)',axis=1,inplace=True)

Creating the weight slab

In [146]:
df['Weight_Slab']=df['Weight_kg']

In [147]:
df['Weight_Slab']=df['Weight_kg']*df['Order Qty']

Replacing the values in weight slab that are under 0.5 with 0.5

In [148]:
df['Weight_Slab']=np.where(df['Weight_Slab']<0.5,0.5,df['Weight_Slab'])

In [149]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight_kg,Weight_Slab
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,0.127,0.500
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,0.127,0.500
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,0.127,0.500
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,0.127,0.500
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,0.127,0.500
...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,0.250,0.500
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,0.160,0.500
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,0.150,0.500
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,0.552,1.104
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,0.137,0.822

In [150]:
df.Zone.value_counts()

d    309
b     87
e      5
Name: Zone, dtype: int64

Replacing the values that are between 0.5 and 1.0 with 1.0

In [151]:
df.Weight_Slab=np.where((df.Weight_Slab>0.5) & (df.Weight_Slab<1.0),1.0,df.Weight_Slab)

In [152]:
df

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight_kg,Weight_Slab
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,0.127,0.500
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,0.127,0.500
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,0.127,0.500
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,0.127,0.500
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,0.127,0.500
...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,0.250,0.500
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,0.160,0.500
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,0.150,0.500
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,0.552,1.104
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,0.137,1.000

Replacing the values that are above 1.0 with 1.5

In [153]:
df.Weight_Slab=np.where(df.Weight_Slab>1.0,1.5,df.Weight_Slab)

In [154]:
df.Weight_Slab.value_counts()

0.5    388
1.0     12
1.5      1
Name: Weight_Slab, dtype: int64

In [155]:
rates

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [156]:
df.Zone.value_counts()

d    309
b     87
e      5
Name: Zone, dtype: int64

In [157]:
df = df.assign(Total_Charge=0)

Splitting the zones and storing them in different variables

In [158]:
x=df[df['Zone']=='b']

In [159]:
x['Expected_charge']=0

In [160]:
x['Expected_charge']=np.where(x['Type of Shipment']=='Forward charges',61.3,x.Expected_charge)

In [161]:
x['Expected_charge']=np.where(x['Type of Shipment']=='Forward and RTO charges',110.1,x.Expected_charge)

In [162]:
x.drop('Total_Charge',axis=1,inplace=True)

In [163]:
x

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight_kg,Weight_Slab,Expected_charge
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,0.127,0.5,61.3
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,0.127,0.5,61.3
9,2001811475,8904223818706,1.0,1091121844806,0.50,121003,173212,b,Forward charges,33.0,0.127,0.5,61.3
18,2001809592,8904223818706,1.0,1091117616121,1.50,121003,244713,b,Forward charges,89.6,0.127,0.5,61.3
25,2001808585,8904223818706,1.0,1091117436652,0.72,121003,175101,b,Forward charges,61.3,0.127,0.5,61.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2001806233,8904223819260,1.0,1091117222135,0.78,121003,263139,b,Forward charges,61.3,0.130,0.5,61.3
392,2001807415,8904223818713,1.0,1091117325094,1.00,121003,208001,b,Forward charges,61.3,0.120,0.5,61.3
393,2001807058,8904223818713,1.0,1091117323112,1.15,121003,140301,b,Forward charges,89.6,0.120,0.5,61.3
394,2001806616,8904223818713,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,0.120,0.5,61.3
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,0.250,0.5,61.3

In [164]:
x['Difference']=x['Expected_charge']-x['Billing Amount (Rs.)']

In [165]:
x

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight_kg,Weight_Slab,Expected_charge,Difference
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,0.127,0.5,61.3,-56.6
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,0.127,0.5,61.3,28.3
9,2001811475,8904223818706,1.0,1091121844806,0.50,121003,173212,b,Forward charges,33.0,0.127,0.5,61.3,28.3
18,2001809592,8904223818706,1.0,1091117616121,1.50,121003,244713,b,Forward charges,89.6,0.127,0.5,61.3,-28.3
25,2001808585,8904223818706,1.0,1091117436652,0.72,121003,175101,b,Forward charges,61.3,0.127,0.5,61.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2001806233,8904223819260,1.0,1091117222135,0.78,121003,263139,b,Forward charges,61.3,0.130,0.5,61.3,0.0
392,2001807415,8904223818713,1.0,1091117325094,1.00,121003,208001,b,Forward charges,61.3,0.120,0.5,61.3,0.0
393,2001807058,8904223818713,1.0,1091117323112,1.15,121003,140301,b,Forward charges,89.6,0.120,0.5,61.3,-28.3
394,2001806616,8904223818713,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,0.120,0.5,61.3,-28.3
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,0.250,0.5,61.3,-28.3

Splitting zone d and putting it in y

In [166]:
y=df[df['Zone']=='d']

In [167]:
y

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight_kg,Weight_Slab,Total_Charge
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,0.127,0.5,0
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,0.127,0.5,0
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,0.127,0.5,0
5,2001813009,8904223818706,1.0,1091118553701,1.00,121003,313001,d,Forward charges,90.2,0.127,0.5,0
6,2001812941,8904223818706,1.0,1091118551656,0.73,121003,325207,d,Forward charges,90.2,0.127,0.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001807328,8904223818997,1.0,1091117324346,2.28,121003,335502,d,Forward charges,224.6,0.490,0.5,0
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,0.160,0.5,0
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,0.150,0.5,0
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,0.552,1.5,0
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,0.137,1.0,0

In [168]:
y['Expected_charge']=0

In [169]:
y['Expected_charge']=np.where(y['Type of Shipment']=='Forward charges',90.2,y.Expected_charge)

In [170]:
y['Expected_charge']=np.where(y['Type of Shipment']=='Forward and RTO charges',176.3,y.Expected_charge)

In [171]:
y.drop('Total_Charge',axis=1,inplace=True)

In [172]:
y['Difference']=y['Expected_charge']-y['Billing Amount (Rs.)']

In [173]:
y

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight_kg,Weight_Slab,Expected_charge,Difference
1,2001821995,8904223818706,1.0,1091121183730,0.50,121003,342008,d,Forward charges,45.4,0.127,0.5,90.2,44.8
3,2001816996,8904223818706,1.0,1091119429202,0.50,121003,335512,d,Forward charges,45.4,0.127,0.5,90.2,44.8
4,2001814580,8904223818706,1.0,1091118925110,0.15,121003,322255,d,Forward and RTO charges,86.7,0.127,0.5,176.3,89.6
5,2001813009,8904223818706,1.0,1091118553701,1.00,121003,313001,d,Forward charges,90.2,0.127,0.5,90.2,0.0
6,2001812941,8904223818706,1.0,1091118551656,0.73,121003,325207,d,Forward charges,90.2,0.127,0.5,90.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2001807328,8904223818997,1.0,1091117324346,2.28,121003,335502,d,Forward charges,224.6,0.490,0.5,90.2,-134.4
397,2001806567,8904223815804,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,0.160,0.5,90.2,-44.8
398,2001806567,8904223818577,1.0,1091117224902,1.16,121003,370201,d,Forward charges,135.0,0.150,0.5,90.2,-44.8
399,2001806408,8904223819437,2.0,1091117222931,2.50,121003,532484,d,Forward charges,224.6,0.552,1.5,90.2,-134.4
400,2001806232,8904223818645,6.0,1091117222124,1.30,121003,507101,d,Forward charges,135.0,0.137,1.0,90.2,-44.8

Splitting zone e and putting it in z

In [174]:
z=df[df['Zone']=='e']

In [175]:
z['Expected_charge']=0

In [176]:
z['Expected_charge']=np.where(z['Type of Shipment']=='Forward and RTO charges',218.3,z.Expected_charge)

In [177]:
z

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight_kg,Weight_Slab,Total_Charge,Expected_charge
268,2001818390,8904223818683,1.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,0.121,0.5,0,218.3
288,2001818390,8904223819147,1.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,0.240,0.5,0,218.3
304,2001818390,8904223818935,4.0,1091120014461,0.8,121003,783301,e,Forward and RTO charges,213.5,0.120,0.5,0,218.3
383,2001808295,8904223819161,1.0,1091117435661,0.2,121003,673002,e,Forward and RTO charges,107.3,0.115,0.5,0,218.3
387,2001808295,8904223819260,1.0,1091117435661,0.2,121003,673002,e,Forward and RTO charges,107.3,0.130,0.5,0,218.3

In [178]:
z['Difference']=z['Expected_charge']-z['Billing Amount (Rs.)']

In [180]:
z.drop('Total_Charge',axis=1,inplace=True)

In [182]:
z

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight_kg,Weight_Slab,Expected_charge,Difference
0,2001827036,8904223818706,1.0,1091122418320,1.60,121003,173213,b,Forward charges,117.9,0.127,0.5,61.3,-56.6
2,2001819252,8904223818706,1.0,1091120352712,0.30,121003,174101,b,Forward charges,33.0,0.127,0.5,61.3,28.3
9,2001811475,8904223818706,1.0,1091121844806,0.50,121003,173212,b,Forward charges,33.0,0.127,0.5,61.3,28.3
18,2001809592,8904223818706,1.0,1091117616121,1.50,121003,244713,b,Forward charges,89.6,0.127,0.5,61.3,-28.3
25,2001808585,8904223818706,1.0,1091117436652,0.72,121003,175101,b,Forward charges,61.3,0.127,0.5,61.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2001806233,8904223819260,1.0,1091117222135,0.78,121003,263139,b,Forward charges,61.3,0.130,0.5,61.3,0.0
392,2001807415,8904223818713,1.0,1091117325094,1.00,121003,208001,b,Forward charges,61.3,0.120,0.5,61.3,0.0
393,2001807058,8904223818713,1.0,1091117323112,1.15,121003,140301,b,Forward charges,89.6,0.120,0.5,61.3,-28.3
394,2001806616,8904223818713,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,0.120,0.5,61.3,-28.3
396,2001806616,8904223819123,1.0,1091117225484,1.08,121003,144001,b,Forward charges,89.6,0.250,0.5,61.3,-28.3